<div class="applicant-overview">
<div class="row">
  <div class="col-md-6">
    <h4>{{applicant.firstName}} {{applicant.lastName}}</h4>
    <p>Applied for the <span style="text-decoration: underline">{{applicant.position}}</span> position on {{applicant.date | date }}</p>
    <p>{{applicant.experience}} years experience</p>
  <button (click)="onClick(applicant)" class="btn btn-link">
    I am no longer interested in this candidate
  </button>
  </div>
  <div class="col-md-6 d-flex align-items-center justify-content-end">
    <a href="tel:{{applicant.phoneNumber}}" class="btn btn-primary">
      Contact
    </a>
  </div>
  </div>
</div>
